#AnchorPane {
    -fx-background-image: url("./sfondo.JPG");
}

#AnchorPane2 {
    -fx-background-image: url("./background.JPG");
}

#logo2 {
    -fx-background-image: url("./logo2.PNG");
}

#logo3 {
    -fx-background-image: url("./logo3.PNG");
}

#add_friend, #login, #sign_up, #new_game, #friends, #score, #ranking, #logout, #clear {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 50px;
    -fx-font-family: Ranchers;
    -fx-font-size: 15px;
}

#nickname, #password, #friend{
    -fx-background-radius: 50px;
    -fx-prompt-text-align: center;
    -fx-text-align: center;
    -fx-font-family: Ranchers;
    -fx-font-size: 15px;
}

#message {
    -fx-text-align: center;
    -fx-font-family: Ranchers;
    -fx-font-size: 15px;
    -fx-text-fill: red;
}

#list {
    -fx-background-radius: 20px;
    -fx-font-family: Ranchers;
    -fx-font-size: 15px;
}

#lblscore {
    -fx-text-align: center;
    -fx-font-family: Ranchers;
    -fx-font-size: 15px;
    -fx-text-fill: red;
}